body {
    background-color: white;
    background-image: radial-gradient(black 15%, transparent 16%),
        radial-gradient(black 15%, transparent 16%);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
    font-family: 'Courier New', Courier, monospace;
    /* Bardziej "zadziorna" czcionka */
}

/* Karty */
.card {
    background-color: rgba(255, 255, 255, 0.9);
    border: 5px solid white;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

/* Pola tekstowe */
.form-control {
    border-radius: 20px;
    border: 2px solid #eee;
}

/* Nagłówki */
h2,
h5 {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

/* Ciemnoczerwone przyciski */
.btn-primary,
.btn-success {
    background-color: #ff0000;
    border: 2px solid #000;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 20px;
}

.btn-primary:hover,
.btn-success:hover {
    background-color: #cc0000;
    border-color: #000;
}

/* Linki */
a {
    color: #8b0000;
    font-weight: bold;
}

/* Element listy zadan */
.list-group-item {
    border: 3px solid white;
    border-radius: 15px !important;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Naglowek powitania */
.welcome-header {
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    display: inline-block;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.welcome-header h2 {
    margin: 0;
    font-size: 1.5rem;
}

/* Styl dla zadania wykonanego */
.zrobione-zadanie {
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    color: gray;
    background-color: #f1f1f1;
    opacity: 0.8;
}